<div class="card">
    <img src="../../assets/hall.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Hall 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <h6>Available</h6>
        <p>Saturday from : 10:00 AM to 2:00 PM</p>
        <a href="#" class="btn btn-primary btn-success mr-2">Reserve</a>
        <a href="#" class="btn btn-primary btn-success mr-2">Edit</a>
        <a href="#" class="btn btn-primary btn-danger">Delete</a>
    </div>
</div>