<div class="card">
    <img src="{{labData?.images?.length ? labData?.images : '../../assets/hall.jpg'}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{labData?.name}}</h5>
        <p class="card-text">Address : {{labData?.address}}</p>
        <p class="card-text">Capacity : {{labData?.capacity}}</p>
        <h6>Available</h6>
        <p>Saturday from : 10:00 AM to 2:00 PM</p>
        <a href="#" class="btn btn-primary btn-success mr-2">Reserve</a>
        <a href="#" class="btn btn-primary btn-success mr-2">Edit</a>
        <a href="#" class="btn btn-primary btn-danger">Delete</a>
    </div>
</div>