<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Search about Lab
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form>
                                <div class="mb-3">
                                    <label for="labNameInput" class="form-label">Lab Name</label>
                                    <input type="text" class="form-control" id="labNameInput">

                                </div>

                                <div class="mb-3">
                                    <label for="capacityInput" class="form-label">Capacity</label>
                                    <input type="text" class="form-control" id="capacityInput">

                                </div>

                                <div class="mb-3">
                                    <label for="capacityInput" class="form-label">Day</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="-1" selected>Select Day</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label for="capacityInput" class="form-label">From</label>
                                    <input type="time" class="form-control" id="capacityInput">

                                </div>
                                <div class="mb-3">
                                    <label for="capacityInput" class="form-label">To</label>
                                    <input type="time" class="form-control" id="capacityInput">

                                </div>



                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>

        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>
        <div class="col-md-4 mb-4">
            <app-lab></app-lab>
        </div>

    </div>
</div>